<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "David's Neighbour",
  "image": "https://davids-neighbour.com/ci/logo-black.svg",
  "@id": "https://davids-neighbour.com/",
  "url": "https://davids-neighbour.com/",
  "telephone": "+66.87.89.79.350",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "PO.Box 135, Postoffice Maenam",
    "addressLocality": "Koh Samui",
    "postalCode": "84330",
    "addressCountry": "TH"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 9.562563599999999,
    "longitude": 99.97445349999998
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  },
  "sameAs": [
    "https://www.facebook.com/davidsneighbour",
    "https://twitter.com/davidsneighbour"
  ]
}
</script>
