<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Patrick Kollitsch",
  "url": "https://davids-neighbour.com/",
  "image": "https://scontent.furt1-1.fna.fbcdn.net/v/t1.0-9/12919751_10153572748140642_6360919586882434595_n.jpg",
  "sameAs": [
    "https://facebook.com/patrick.kollitsch",
    "https://twitter.com/davidsneighbour"
  ],
  "jobTitle": "Creative and Technical Director",
  "worksFor": {
    "@type": "Organization",
    "name": "David's Neighbour Part., Ltd."
  }  
}
</script>