{{ define "main" }}

<h1>Das Archiv</h1>
<p>W&auml;hrend ich auf diesen Seiten ein paar Umbauten vornehme, wird das Archiv leider nur eine liste mit Links zu den Artikeln sein. <p>
    <hr/>

    {{ range (where .Site.Pages "Section" "post").GroupByDate "January 2006"}}

        {{ range first 1 .Pages }}
            <h2>
                {{ index $.Site.Data.months.months .Date.Month }}
                {{ .Date.Format "2006" }}
            </h2>
        {{ end }}

        <ul class="list-inline">
            {{ range .Pages }}
            <li>
		        {{ .Date.Format "2" }}.
		        {{ index $.Site.Data.months.months .Date.Month }}
		        {{ .Date.Format "2006" }} - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
    </ul>
    {{ end }}
{{ end }}