[submodule "themes/dnb-hugo-shortcodes"]
	path = themes/dnb-hugo-shortcodes
	url = git@github.com:davidsneighbour/dnb-hugo-shortcodes.git
[submodule "themes/dnb-hugo-garuda"]
	path = themes/dnb-hugo-garuda
	url = git@github.com:davidsneighbour/dnb-hugo-garuda.git
