<div id="widget-socialmedia" class="mb-3 card">
	<div class="card-header">
		<h3>Social Media</h3>
	</div>
	<div class="card-body d-flex justify-content-between">
		<a href="https://www.facebook.com/patrick.kollitsch">
        <span class="icon large facebook" aria-hidden="true">
          {{ partialCached "icons/facebook-square.svg" . }}
        </span></a>
		<a href="http://m.me/patrick.kollitsch">
        <span class="icon large messenger" aria-hidden="true">
          {{ partialCached "icons/facebook-messenger.svg" . }}
        </span></a>
		<a rel="me" href="https://twitter.com/davidsneighbour">
        <span class="icon large twitter" aria-hidden="true">
          {{ partialCached "icons/twitter.svg" . }}
        </span></a>
		<a href="https://api.whatsapp.com/send?phone=66878979350">
        <span class="icon large whatsapp" aria-hidden="true">
          {{ partialCached "icons/whatsapp.svg" . }}
        </span></a>
		<a href="https://www.snapchat.com/add/pkollitsch">
        <span class="icon large snapchat" aria-hidden="true">
          {{ partialCached "icons/snapchat.svg" . }}
        </span></a>
	</div>
</div>
