<div id="widget-socialmedia" class="mb-5">
	<h3>Social Media</h3>
	<a href="https://www.facebook.com/patrick.kollitsch"><i class="fab fa-fw fa-facebook-square fa-2x" data-fa-transform="rotate-30"></i></a>
	<a href="http://m.me/patrick.kollitsch"><i class="fab fa-fw fa-facebook-messenger fa-2x"></i></a>
	<a rel="me" href="https://twitter.com/davidsneighbour"><i class="fab fa-fw fa-twitter-square fa-2x" data-fa-transform="rotate--30"></i></a>
	<a href="https://api.whatsapp.com/send?phone=66878979350"><i class="fab fa-fw fa-whatsapp fa-2x" data-fa-transform="rotate-15"></i></a>
	<a href="https://www.snapchat.com/add/pkollitsch"><i class="fab fa-fw fa-snapchat fa-2x" data-fa-transform="rotate--15"></i></a>
</div>
