<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<link rel="publisher" href="https://plus.google.com/b/116934544398526568907/"/>
{{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Samui Suche">


{{ with .Params.robotsdisallow }}
	<meta name="robots" content="noindex, nofollow, noarchive">
{{ else }}
	<meta name="robots" content="index, follow, archive">
{{ end }}