// Fontawesome
@import "../../static/assets/fonts/fontawesome/css/fa-svg-with-js";

// Bootstrap initialization
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";

// DNB theme setup
@import "settings/colors";
@import "settings/settings";
@import "settings/fonts";

// Bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
//@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
//@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/jumbotron";
//@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";

// Plugins
@import "plugins/backtotop";
@import "plugins/carousel";
@import "plugins/flags";
@import "plugins/iconfont";
@import "plugins/instantsearch";
@import "plugins/slabtext";
@import "plugins/sharebuttons";
@import "plugins/twitter";
@import "plugins/video-youtube";
@import "plugins/wordpress";

// Components
@import "components/global";
@import "components/articles";
@import "components/comments";
@import "components/footer";
@import "components/header";
@import "components/images";
@import "components/pagination";
@import "components/topnavigation";
@import "components/transitions";
