// colors for samui-samui.de
$theme-colors: (

  "text": 		#2b2929,			
  "bodybg": 	#290e1c, // dark aubergine
  "contentbg": 	#e2e2b6, // yellowish background color for content area
  "primary": 	#ec7263  // redish primary color

);
