/* 100 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-thin-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-thin-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-thin-webfont.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-thinitalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-thinitalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-thinitalic-webfont.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }
/* 200 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-extralight-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-extralight-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-extralight-webfont.ttf') format('truetype');
//     font-weight: 200;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-extralightitalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-extralightitalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-extralightitalic-webfont.ttf') format('truetype');
//     font-weight: 200;
//     font-style: italic;
// }
/* 300 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-light-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-light-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-light-webfont.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-lightitalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-lightitalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-lightitalic-webfont.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }
/* 400 */
@font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/panton/panton-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/panton/panton-regular-webfont.woff') format('woff'),
         url('/assets/fonts/panton/panton-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/panton/panton-regularitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/panton/panton-regularitalic-webfont.woff') format('woff'),
         url('/assets/fonts/panton/panton-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
/* 500 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-semibold-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-semibold-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-semibold-webfont.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-semibolditalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-semibolditalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-semibolditalic-webfont.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }
/* 600 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-bold-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-bold-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-bold-webfont.ttf') format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-bolditalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-bolditalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-bolditalic-webfont.ttf') format('truetype');
//     font-weight: 600;
//     font-style: italic;
// }
/* 700 */
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-extrabold-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-extrabold-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-extrabold-webfont.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-extrabolditalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-extrabolditalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-extrabolditalic-webfont.ttf') format('truetype');
//     font-weight: 700;
//     font-style: italic;
// }
/* 800 */
@font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/panton/panton-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/panton/panton-black-webfont.woff') format('woff'),
         url('/assets/fonts/panton/panton-black-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/panton/panton-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/panton/panton-blackitalic-webfont.woff') format('woff'),
         url('/assets/fonts/panton/panton-blackitalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
/* 900 */
@font-face {
    font-family: 'Panton';
    src: url('/assets/fonts/panton/panton-heavy-webfont.woff2') format('woff2'),
         url('/assets/fonts/panton/panton-heavy-webfont.woff') format('woff'),
         url('/assets/fonts/panton/panton-heavy-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
// @font-face {
//     font-family: 'Panton';
//     src: url('/assets/fonts/panton/panton-heavyitalic-webfont.woff2') format('woff2'),
//          url('/assets/fonts/panton/panton-heavyitalic-webfont.woff') format('woff'),
//          url('/assets/fonts/panton/panton-heavyitalic-webfont.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }
