.entry-content img {
    @extend .img-fluid;
}

figure {
    img {
        border: 1px solid  theme-color("primary");
        border-radius: $border-radius-lg;
    }
}

figcaption {
	font-style: italic;
}
