#sidebar {
    h3 {
        font-size:1.65em;
    }
    ul.fa-ul {
        margin-left: 1.5em;
        li {
            margin-right:2rem;
        }
    }
    figure img {
        border: none;
        border-radius: 0;
    }
}