{{ define "main" }}
  {{ print "<!-- _default/index.html -->" | safeHTML }}

  {{ range $elem_index, $value := .Paginator.Pages }}
  <article class="{{ if eq $elem_index 0 }}first{{ end }}">
    {{ .Scratch.Set "firstitem" "" }}
    <header class="title">
      <h2 class="entry-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      {{ partial "content/meta-top.html" . }}
    </header>
    {{ partial "content/content.html" . }}
    {{ partial "content/meta-bottom.html" . }}
  </article>
  {{ end }}

  {{ partial "pagination/posts.html" . }}

{{ end }}
