{{/*
layout for single items without template in TYPE/single.html
page layout
*/}}


{{ define "schema" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": "{{ substr .Title 0 110 }}",
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": "{{ printf "%s" .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": "{{ .PublishDate.Format $ISO8601 }}",
  {{- else }}
  "datePublished": "{{ .Date.Format $ISO8601 }}",
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": "{{ .Lastmod.Format $ISO8601 }}",
  {{- end }}
  {{- with .Site.Social.GooglePlus }}
  "publisher": "{{ printf "%s" . }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  }
  {{- if or (.Params.keywords) (or (.Params.categories) (.Params.tags)) -}}
  ,
  "keywords": "{{ delimit (union .Params.keywords (union .Params.categories .Params.tags)) ", " }}"
  {{- end }}

  {{- with .Params.description -}}
  ,
  "description": "{{ . }}"
  {{- end }}
}
</script>

{{ end }}


{{ define "main" }}
  {{ print "<!-- _default/single.html -->" | safeHTML }}
<article >
	<header class="title">
    <h2 class="entry-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ partialCached "content/meta-top.html" . }}
	</header>
	<div class="text entry-content">
		{{ with .Params.featured_image }}
		  	<img src="{{ . | absURL }}" />
		{{ end }}
		{{ .Content }}
	</div>
</article>
{{ end }}
