{{ define "title"}}Notizen tagged mit {{ .Page.Title }}{{ end }}

{{ define "main" }}
  {{ print "<!-- _default/taxonomy.html -->" | safeHTML }}

  <h2>
    <span class="icon large" aria-hidden="true">
      {{ partialCached "icons/tags.svg" . }}
    </span>&nbsp;
    <em>{{ .Page.Title }}</em>
  </h2>

  {{ range .Paginator.Pages }}
  <article >
    <header class="title">
      <h2 class="entry-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      {{ partial "content/meta-top.html" . }}
    </header>
    {{ partial "content/content.html" . }}
    {{ partial "content/meta-bottom.html" . }}
  </article>
  {{ end }}
  
{{ end }}
