/* 100 */
@font-face {
    font-family: 'Panton';
    src: url('panton-thin-webfont.woff2') format('woff2'),
         url('panton-thin-webfont.woff') format('woff'),
         url('panton-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-thinitalic-webfont.woff2') format('woff2'),
         url('panton-thinitalic-webfont.woff') format('woff'),
         url('panton-thinitalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
/* 200 */
@font-face {
    font-family: 'Panton';
    src: url('panton-extralight-webfont.woff2') format('woff2'),
         url('panton-extralight-webfont.woff') format('woff'),
         url('panton-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-extralightitalic-webfont.woff2') format('woff2'),
         url('panton-extralightitalic-webfont.woff') format('woff'),
         url('panton-extralightitalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
/* 300 */
@font-face {
    font-family: 'Panton';
    src: url('panton-light-webfont.woff2') format('woff2'),
         url('panton-light-webfont.woff') format('woff'),
         url('panton-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-lightitalic-webfont.woff2') format('woff2'),
         url('panton-lightitalic-webfont.woff') format('woff'),
         url('panton-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* 400 */
@font-face {
    font-family: 'Panton';
    src: url('panton-regular-webfont.woff2') format('woff2'),
         url('panton-regular-webfont.woff') format('woff'),
         url('panton-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-regularitalic-webfont.woff2') format('woff2'),
         url('panton-regularitalic-webfont.woff') format('woff'),
         url('panton-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
/* 500 */
@font-face {
    font-family: 'Panton';
    src: url('panton-semibold-webfont.woff2') format('woff2'),
         url('panton-semibold-webfont.woff') format('woff'),
         url('panton-semibold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-semibolditalic-webfont.woff2') format('woff2'),
         url('panton-semibolditalic-webfont.woff') format('woff'),
         url('panton-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/* 600 */
@font-face {
    font-family: 'Panton';
    src: url('panton-bold-webfont.woff2') format('woff2'),
         url('panton-bold-webfont.woff') format('woff'),
         url('panton-bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-bolditalic-webfont.woff2') format('woff2'),
         url('panton-bolditalic-webfont.woff') format('woff'),
         url('panton-bolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
/* 700 */
@font-face {
    font-family: 'Panton';
    src: url('panton-extrabold-webfont.woff2') format('woff2'),
         url('panton-extrabold-webfont.woff') format('woff'),
         url('panton-extrabold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-extrabolditalic-webfont.woff2') format('woff2'),
         url('panton-extrabolditalic-webfont.woff') format('woff'),
         url('panton-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
/* 800 */
@font-face {
    font-family: 'Panton';
    src: url('panton-black-webfont.woff2') format('woff2'),
         url('panton-black-webfont.woff') format('woff'),
         url('panton-black-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-blackitalic-webfont.woff2') format('woff2'),
         url('panton-blackitalic-webfont.woff') format('woff'),
         url('panton-blackitalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
/* 900 */
@font-face {
    font-family: 'Panton';
    src: url('panton-heavy-webfont.woff2') format('woff2'),
         url('panton-heavy-webfont.woff') format('woff'),
         url('panton-heavy-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('panton-heavyitalic-webfont.woff2') format('woff2'),
         url('panton-heavyitalic-webfont.woff') format('woff'),
         url('panton-heavyitalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
